{# Written by Michał Turemka <michal.turemka@gmail.com> #}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body">
            <div class="row">
                <div class="col-md-10">
                    <img class="img-responsive" id="single-img" ng-src="{*{ ctrl.media.cacheImagePath }*}">
                </div>
                <div class="col-md-2">
                    <p><b>Wielkość:</b> {*{ ctrl.media.width }*} x {*{ ctrl.media.height }*}</p>
                    <p><b>Rozmiar:</b> {*{ ctrl.media.size }*}b</p>
                    <p><b>Typ:</b> {*{ ctrl.media.mime }*}</p>
                    <a ng-click="ctrl.delete(ctrl.media.id)">Usuń</a>
                </div>
            </div>
        </div>
    </div>
</div>
