# Cache, session files and logs (Symfony3)
var/

# Parameters
/app/config/parameters.yml

# Managed by Composer
/app/bootstrap.php.cache
/bin/*
!bin/console
/vendor/

# Managed by npm
/node_modules

# Assets and user uploads
/web/bundles/

# Backup entities generated with doctrine:generate:entities command
*/Entity/*~

# IDE
/nbproject
/.idea

# gulp things
.ftppass
gulpfile.js
/web/config.php
