{% extends "AdminBundle::base.html.twig" %}
    
{% block content %}
    <div class="row">
        {% form_theme form 'bootstrap_3_layout.html.twig' %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Zapisz</button>
        {{ form_end(form) }}
    </div>
    <div class="row">
        {% for msg in app.session.flashBag.get('success') %}
            <div class="alert alert-success fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{ msg }}
            </div>
        {% endfor %}
    </div>
{% endblock %}

