{% extends 'AdminBundle::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/media_library.css') }}">
{% endblock %}

{% block content %}
    <div class="row">
        {% for file in files %}
            <img class="media-library-img" src="{{ asset('uploads/') ~ file.name}}">
        {% endfor %}
    </div>
    <div class="row">
        <button class="btn btn-danger" id="btn-delete-img">Usuń obrazki</button>
    </div>
{% endblock %}
