{# Written by Michał Turemka <michal.turemka@gmail.com> #}

{% extends 'AdminBundle::base.html.twig' %}

{% block content %}
    <div ng-controller="MediaLibraryController as ctrl">
        <div class="row">
            {% for file in files %}
                <img class="media-library-img" data-toggle="modal" data-target="#image-detail-modal" data-id={{ file.id }}
                     src="{{ (asset('media/') ~ file.name) | imagine_filter('thumbnails_large') }}" ng-click="ctrl.showDetails({{ file.id }})">
            {% endfor %}
        </div>

        <div id="image-detail-modal" class="modal fade" role="dialog">
            {% include 'AdminBundle::Modal/Media/library.html.twig' %}
        </div>
    </div>
{% endblock %}
