{# Written by Michał Turemka <michal.turemka@gmail.com> #}

{% extends 'AdminBundle::base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div ng-controller="SubController as ctrl">
                <form name="subscriberForm" class="form-horizontal" ng-submit="ctrl.submit()">
                    <div class="form-group">
                        <label for="email_input" class="control-label">Email:</label>
                        <input id="email_input" type="email" ng-model="ctrl.email" required>
                    </div>
                    <button type="submit" class="btn btn-default" ng-disabled="subscriberForm.$invalid">Zapisz</button>
                    <div class="alert alert-success" role="alert" ng-show="subscriberForm.$submitted">Zapisano</div>
                </form>
                
            </div>
        </div>
    </div>
{% endblock %}
