{% extends 'AdminBundle::base.html.twig' %}

{% block content %}
    <div class="row">

        {{ form_start(form) }}
        {{ form_widget(form.file, { 'attr': {'class': 'btn btn-default'} }) }}
        <button type="submit" class="btn btn-default">Wyślij</button>
        {{ form_end(form) }}

    </div>
{% endblock %}