{% extends "base.html.twig" %}
{% block form_label_class -%}
    col-sm-4
    {%- endblock form_label_class %}
    
{% block content %}
    <div class="content">
        <div class="container">
            <div class="row">
                {% form_theme form 'bootstrap_3_layout.html.twig' %}
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-default">Zapisz</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

