{% extends "users.html.twig" %}

{% block foo %}
    {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-default">Zapisz</button>
    {{ form_end(form) }}
{% endblock %}
