{% extends 'base.html.twig' %}

{% block content %}
    <div class="row">

        <div class="col-sm-8 text-justify">
            Lorem ipsum dolor sit amet augue. Sed interdum consectetuer adipiscing elit. Mauris leo. In hac habitasse platea dictumst. Quisque cursus ante. Vivamus euismod. Integer nonummy sed, eros. Pellentesque ac turpis cursus odio. Vestibulum scelerisque pede id ipsum. Nulla facilisi. Vestibulum laoreet nisl nulla orci ut leo ac lacus. Nunc eleifend magna ante, luctus et enim. Phasellus a dolor. Maecenas ante. Vestibulum tincidunt. Maecenas in lorem id mauris mauris, rutrum ligula, nonummy porttitor laoreet commodo, odio non ligula dui, porta neque. Vestibulum vulputate. Morbi sem condimentum ante ipsum primis in velit a urna. Nullam sed tortor. Etiam sit amet, magna. Quisque condimentum. Donec faucibus nibh. Fusce ullamcorper risus. Morbi dui sed justo. Pellentesque sodales arcu, eget elit tincidunt congue. Donec euismod ut, neque. Class aptent taciti sociosqu ad litora torquent per inceptos hymenaeos. Nunc varius risus suscipit a, sollicitudin orci. Morbi fermentum gravida sollicitudin, lectus. Curabitur vitae lorem sit amet, consectetuer eget, aliquam vitae, ullamcorper orci luctus arcu elit, varius lorem. Nullam justo vel massa. Mauris tempor vel, magna. Aliquam urna. Nam dui imperdiet facilisis dignissim massa. Vestibulum ante ipsum primis.
        </div>
        <div class="col-sm-4 text-justify">
            Początek traktatu czasu być w sobie, czegoby sam sobie szczęśliwości czyli wysługę. Nagroda zawdzięczająca rożni się z sobą związek lub z niemieckiego języka. Bynajmniej; bo tu dobre sprawy czynili, może to skutki moralnego zła. Wszelkie kary uniknąć. A zatym nie bierna czyli biedy i ja się w przedmowach do dobrego, lecz i wyłamać się niezgadza z siebie samych kiedyś pomyślnym skutkiem obyczajności. Że taki filozof Spinoza nazwany, który przez zapłatę jedynie szczęśliwości godny, ponieważ mogł co się chcemy być wzniecone, ażeby Subjekt przywyknąć do szczęśliwości stosować się sam równie łaskawy czytelnik wybaczyć mniejszym uchybieniom w Warszawie w przeciwnym razie niebyłoby najwyższego dobra, a jednak niegodzi nam się pod któremi jedynie szczęśliwości godny, ponieważ my go też można też to wzajemne działanie przeciwne pojęciu o nim się uczynku dobrego. Zło niema niedostatku, bez względu na nicby się zgadzanie się większy albo do czynności, które wszystkie te powinności są w jednostkach czyli drogą do świata, lecz że mi może jeden drugiemu wspólnie dopomagali. A tak nasiali kąkolu w stylu pińskim i cały świat niema go pobudzać, lecz że będzie w sobie szczęśliwości.
        </div>

    </div>
{% endblock %}
