{% extends "base.html.twig" %}
{% block content %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                {% for file in files %}
                    <img class="img-thumbnail" src="{{ asset('uploads/') ~ file.file}}">
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
