{% block sidebar %}
    <div class="sidebar">
        <ul>
            <div><li class="topitem padding-left-menu">Ustawienia<span>&#x25C4</span></li>
                <li class="subitem"><a class="padding-left-menu" href="upload">Wyślij</a></li>
                <li class="subitem"><a class="padding-left-menu" href="footer">Stopka</a></li>
            </div>

            <div><li class="topitem"><a class="padding-left-menu" href="users">Użytkownicy</a></li></div>
            <div><li class="topitem"><a class="padding-left-menu" href="logout">Wyloguj<span class="glyphicon glyphicon-log-out"></span></a></li></div>
        </ul>
    </div>
{% endblock %}