{% extends "base.html.twig" %}
{% block content %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                
                {% form_theme form 'bootstrap_3_layout.html.twig' %}
                {{ form_start(form) }}
                {{ form_row(form.file) }}
                <button type="submit" class="btn btn-default">Wyślij</button>
                {{ form_end(form) }}
                
                
                {#<form action="upload/upload" method="post" enctype="multipart/form-data">
                    Select image to upload:
                    <br>
                    <label class="btn btn-default btn-file"> Browse
                        <input type="file" name="fileToUpload" style="display: none;">
                    </label>
                    <input type="submit" value="Upload Image" name="submit" class="btn btn-default">
                </form>#}
            </div>
        </div>
    </div>
{% endblock %}