{% extends "base.html.twig" %}
{% block content %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">

                {% form_theme form 'bootstrap_3_layout.html.twig' %}
                {{ form_start(form) }}
                {{ form_row(form.file) }}
                <button type="submit" class="btn btn-default">Wyślij</button>
                {{ form_end(form) }}
                {{ app.user.username }}

            </div>
        </div>
    </div>
{% endblock %}