<div class="row">
    <div class="col-md-12">
        <div class="blog-info-section sidebar-section">
            <div class="blog-info-author"></div>
            <img class="img-circle img-author center-block" src={{ asset('assets/img/cat.jpg') }}>
            <div class="blog-info-author-text text-center">
                <p class="author-paragraph">Michał Turemka</p>
                <p class="">programista C++, brightOne</p>
            </div>
        </div>
    </div>
</div>