<div class="row">
    <div class="col-md-12">
        <div class="sidebar-section">
            <div class="sidebar-section-title text-uppercase">kategorie</div>
            {% for c in categories %}
                <div class="sidebar-single-entry">
                    <div class="sidebar-single-entry-arrow ">
                        &#10095
                    </div>

                    <div class="categories-single-entry-title text-uppercase">
                        <a href={{ path('category', {'id': c.id}) }}>{{ c.name }}</a>
                    </div>

                    <div class="categories-single-entry-counter">
                        {{ c.posts_counter }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
