<div class="row">
    <div class="col-md-12">
        <div class="sidebar-section">
            <div class="sidebar-section-title text-uppercase">kategorie</div>
            {% for c in categories %}
                <div class="categories-entry">
                    <div class="categories-entry-arrow ">
                        &#10095
                    </div>

                    <div class="categories-entry-title text-uppercase">
                        {{ c.name }}
                    </div>

                    <div class="categories-entry-counter">
                        {{ c.posts_counter }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>