<div class="row">
    <div class="col-md-12">
        <div class="sidebar-section">
            <div class="sidebar-section-title text-uppercase">zapisz się</div>
            <div class="subscribers-section">
                {% form_theme form 'bootstrap_3_layout.html.twig' %}

                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-primary center-block">Subskrybuj</button>
                {{ form_end(form) }}

            </div>
        </div>
    </div>
</div>
