{% trans_default_domain 'FOSUserBundle' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}
<div class="row">
    <div class="col-xs-12 col-md-8 col-lg-5">
        {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary" type="submit"> {{ 'change_password.submit'|trans }} </button>
        {{ form_end(form) }}
    </div>
</div>
