{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    {% include 'navbar.html.twig' %}

    <div class="content-with-sidebar">
        {% include 'sidebar.html.twig' %}
        <div class="content">
            <div class="container-fluid">
                {% include "FOSUserBundle:ChangePassword:change_password_content.html.twig" %}
            </div>
        </div>
    </div>

{% endblock fos_user_content %}
