body {
    font-family: 'Lato', sans-serif;
}

.content-with-sidebar {
    padding-top: 50px;
}
.sidebar {
    position: fixed;
    width: 200px;
    height: 100%;
    background-color: #eee;
    z-index: 1000;
}

.content {
    padding-left: 200px;
}

.sidebar a:hover {
    color: #204769;
    text-decoration: none;
}

.sidebar a:hover div {
    background-color: #f5f5f5;
}

.panel-body span {
    float: right;
}

.add-post-img-selected {
    border: 5px solid;
    border-color: black;
}

#post-thumb-img {
    margin-top: 100px;
}

.edit-row a {
    visibility: hidden;
    margin-right: 10px;
}

.modal-dialog{
    width: 70%;
}

.media-library-img:hover {
    cursor: pointer;
}

@media (max-width: 768px) {
    .sidebar {
        display: none;
    }
    .content {
        padding-left: 0px;
    }
}

#top-slider .bx-viewport {
    border: 0px !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    left: 0px !important;
}