.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.content-with-sidebar {
    padding-top: 50px;
}
.sidebar {
    position: fixed;
    width: 200px;
    height: 100%;
    background-color: #eee;
    z-index: 1000;
}

.content {
    position: absolute;
    padding-left: 200px;
    margin: 0px;
}

.topitem {
    border: 0px;
    box-shadow: 0px 0px 0px 0px;
    background-color: #eee;
}

.topitem a:hover {
    color: #204769;
    text-decoration: none;
}

.topitem a:hover div {
    background-color: #f5f5f5;
}

.panel-body span {
    float: right;
}

@media (max-width: 768px) {
    .sidebar {
        display: none;
    }
    .content {
        padding-left: 0px;
    }
}
