/* ************************** */
/* ***** COMMON ***** */
/* ************************** */

* {
    font-family: 'Noto Sans', sans-serif;
}

body {
    padding-top: 200px;
}

.row-buffer-top-bottom {
    margin: 25px 0;
}
.row-buffer-left-right {
    margin: 0 25px;
}

.sidebar {
    margin: 25px 0;
}

.cropped-center {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

a:link {
    text-decoration: none;
}

.width-100-percent {
    width: 100%;
    display: table !important;
}

/* ************************** */
/* ***** NAVIGATION BAR ***** */
/* ************************** */

nav.navbar-wrapper {
    height: 150px;
    background-color: yellow;
    border: 0;
}

#navigation-bar {
    background-color: white;
}

.navigation-link {
    display: table-cell !important;
}

.social-icons-wrapper {
    line-height: 80px;
    position: absolute;
    left: 10%;
}

.title-wrapper {
    font-size: 400%;
    line-height: 80px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

img.social-icon {
    width: 25px;
    height: 25px;
}

#navigation-links-list {
    width: 80%;
}

a.categories{
    text-decoration: none;
    text-transform: uppercase;
    color: grey;
    font-weight: bold;
    font-size: large;
    transition: all 0.2s;
}

a.categories:hover {
    font-size: x-large;
}

/* ************************** */
/* ********* SLIDER ********* */
/* ************************** */

.top-slider-wrapper {
    position: relative;
    /*height: 500px;*/
}

#slides {
    display: none;
}

/* ************************** */
/* ******** LAST POST ******* */
/* ************************** */

.last-post {
    position: absolute;
    top: 0;
    left: 15%;
    width: 30%;
    height: 100%;
    background-color: rgba(79, 188, 132, 0.75);
    color: white;
    z-index: 100;
}

/* ************************** */
/* ********** POSTS ********* */
/* ************************** */

.big-post {
    background-color: white;
    width: 100%;
    height: 650px;
    position: relative;
    overflow: hidden;
    color: black;
}

.big-post-thumbnail {
    height: 45%;
    overflow: hidden;
}

.big-post-thumbnail-img {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
}

.transition {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.big-post-category {
    margin: 30px 0;
}

.big-post-category a {
    font-size: small;
    font-weight: bold;
    color: black;
}

.big-post-category a:hover{
    color: #337ab7
}

.big-post-title {
    font-size: x-large;
    font-style: italic;
    width: 80%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.big-post-content {
    overflow: hidden;
    position: relative;
    width: 80%;
}

.big-post-info {
    font-size: small;
    margin: 20px 0;
    color: silver;
}

.big-post-read-more-btn {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0 auto 3%;
}

a.big-post-hyperlink:hover {
    text-decoration: none;
}

.btn-lg.round {
    border-radius: 24px;
}

/* ************************** */
/* ****** SIDEBAR INFO ****** */
/* ************************** */

.sidebar-section {
    margin-bottom: 35px;
}

/* ************************** */
/* ******** BLOG INFO ******* */
/* ************************** */

.blog-info-section {
    height: 26vw;
    position: relative;
}

.blog-info-author {
    height: 50%;
    background-image: url("../assets/img/blog-info-bg.jpg");
}

.blog-info-author-text {
    position: relative;
    padding-top: 7vw;
    height: 50%;
    background-color: white;
}

p.author-paragraph {
    font-size: large;
    font-weight: bold;
    margin-bottom: 0px;
}

img.img-author {
    position: absolute;
    z-index: 100;
    top: 8vw; /* half of the .blog-info-section height - half of the width */
    left: calc(50% - 5vw);
    width: 10vw;
}

@media screen and (max-width: 992px) {
    .blog-info-section {
        height: 60vw;
    }

    img.img-author {
        width: 20vw;
        top: 20vw; /* half of the .blog-info-section height - half of the width */
        left: calc(50% - 10vw);
    }

    .blog-info-author-text {
        padding-top: 15vw;
    }

    p.author-paragraph {
        font-size: x-large;
        font-weight: bold;
    }
}

/* ************************** */
/* ******* CATEGORIES ******* */
/* ************************** */

.sidebar-section-title {
    font-size: large;
    color: black;
    background-color: white;
    border-bottom: 3px solid grey;
    padding: 8px ;
    margin-bottom: 8px;
}

.sidebar-single-entry {
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    position: relative;
    width: 100%;
    height: 50px;
    overflow: hidden;
}

.sidebar-single-entry-arrow, .categories-single-entry-title, .categories-single-entry-counter, .social-media-single-entry-title {
    height: 100%;
    display: flex;
    align-items: center;
}

.sidebar-single-entry-arrow {
    background-color: grey;
    flex-basis: 15%;
    justify-content: center;
    color: white;
    font-size: x-large;
}

.categories-single-entry-title {
    background-color: white;
    flex-basis: 70%;
    padding-left: 15px;
}

.categories-single-entry-counter {
    background-color: grey;
    flex-basis: 15%;
    justify-content: center;
    color: white;
    font-size: large;
}

/* ************************** */
/* ******* SUBSCRIBERS ****** */
/* ************************** */

.subscribers-section {
    width: 100%;
    background-color: white;
    height: 160px;
    padding: 10%;
}

.main-content {
    background-color: rgb(242, 242, 242);
    position: relative;
    padding-bottom: 50px;
}

/* ************************** */
/* ******* SOCIAL MEDIA ***** */
/* ************************** */

.social-media-single-entry-title {
    background-color: white;
    flex-basis: 85%;
    padding-left: 15px;
}


/* ************************** */
/* ********** FOOTER ******** */
/* ************************** */
footer {
    width: 100%;
    height: 200px;
    position: relative;
}

.footer-arrow {
    width: 50px;
    height: 80px;
    background-color: rgb(79, 188, 132);
    position: relative;
    top: -40px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: xx-large;
}

.footer-content {
    position: absolute;
    top: 0;
}
