form[name=file_upload_form] {
    text-align: center;
    position: relative;
}

#label-upload {
    width: 80%;
    text-align: center;
    border: 6px solid rgb(26, 69, 105);
    border-radius: 20px;
    padding: 50px 0;
    margin: 100px auto;
    position: relative;
    background-color: rgb(133, 162, 187);
}

form[name=file_upload_form] #submit-upload {
    width: 100%;   
    position: absolute;
    top: 550px;    
}

form[name=file_upload_form] #submit-upload button{
    width: 300px;
}
