{% extends "base.html.twig" %}

{% block content %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                {% block fos_user_content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}