<a class="big-post-hyperlink" href="http://onet.pl">
    <div class="big-post text-center">
        <div class="big-post-thumbnail">
        </div>
        <div class="big-post-category text-uppercase">
            kategoria
        </div>
        <div class="big-post-title center-block">
            Lorem ipsum dolor sit ame dolor sit ame
        </div>
        <div class="big-post-content center-block">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nulla felis, posuere at ipsum a, ultrices
            euismod augue. Donec interdum, leo at facilisis rutrum, est augue fringilla sapien, eu facilisis ligula leo quis
            neque. Proin mi lectus, vestibulum sit amet elementum at, faucibus a nunc. Curabitur interdum efficitur felis,
            quis sollicitudin dui. Etiam tortor magna, convallis vitae scelerisque et, ultricies nec orci. Quisque
            consectetur hendrerit elementum. Nullam quis mattis augue.
        </div>
        <div class="big-post-info">
            michal / data postu
        </div>
        <div class="big-post-read-more-btn">
            <button class="btn btn-lg round">Więcej</button>
        </div>
    </div>
</a>