<footer>
    <div class="footer-arrow">
        &#8648
    </div>
    <div class="footer-content">
            {{ footer.city }} <br>
            {{ footer.phone_number }} <br>
            {{ footer.street }} <br>
            {{ footer.postal_code }} <br>
    </div>
</footer>
