<footer>
    <div class="footer-arrow">
        &#8648
    </div>
    <div class="footer-content">
            {{ footer.city }} <br>
            {{ footer.phonenumber }} <br>
            {{ footer.street }} <br>
            {{ footer.postalcode }} <br>
    </div>
</footer>
