{# Written by Michał Turemka <michal.turemka@gmail.com> #}

<footer>
    <div id="footer-arrow">
        &#8648
    </div>
    <div id="footer-content">
        &copy; {{ literals.author }} - {{ literals.company }} - {{ "now"|date("Y") }}
    </div>
</footer>
