<nav class="navbar-fixed-top text-center cl-effect-1">
    <div class="container">
        <div class="row" id="nav-title-wrapper" >
            <div class="col-md-12 ">
                <h1 class="site-title">Michał Turemka - przykład nowego bloga</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul id="menu">
                    <li class="navigation-link text-uppercase"><a href="#">item 1</a></li>
                    <li class="navigation-link text-uppercase"><a href="#">item 2</a></li>
                    <li class="navigation-link text-uppercase"><a href="#">item 3</a></li>
                    <li class="navigation-link text-uppercase"><a href="#">item 4</a></li>
                    <li class="navigation-link text-uppercase"><a href="#">item 5</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
