<div class="row row-buffer-top-bottom">
    <div class="col-md-12">
        {% include 'BlogBundle::big-post.html.twig' %}
    </div>
</div>

    <div class="row row-buffer-top-bottom">
    <div class="col-md-6">
        {% include 'BlogBundle::big-post.html.twig' %}
    </div>
    <div class="col-md-6">
        {% include 'BlogBundle::big-post.html.twig' %}
    </div>
</div>

    <div class="row row-buffer-top-bottom">
    <div class="col-md-12">
        {% include 'BlogBundle::big-post.html.twig' %}
    </div>
</div>

    <div class="row row-buffer-top-bottom">
    <div class="col-md-6">
        {% include 'BlogBundle::big-post.html.twig' %}
    </div>
    <div class="col-md-6">
        {% include 'BlogBundle::big-post.html.twig' %}
    </div>
</div>