<div class="row">
    <div class="col-md-12">
        <div class="big-post">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nulla felis, posuere at ipsum a, ultrices
            euismod augue. Donec interdum, leo at facilisis rutrum, est augue fringilla sapien, eu facilisis ligula leo
            quis
            neque. Proin mi lectus, vestibulum sit amet elementum at, faucibus a nunc. Curabitur interdum efficitur
            felis,
            quis sollicitudin dui. Etiam tortor magna, convallis vitae scelerisque et, ultricies nec orci. Quisque
            consectetur hendrerit elementum. Nullam quis mattis augue.

            In pellentesque justo pellentesque neque blandit pharetra et nec tortor. Aliquam erat volutpat. Pellentesque
            quam enim, aliquam nec lorem vel, sollicitudin ullamcorper elit. Quisque sem mauris, lacinia sit amet purus
            nec,
            vestibulum consectetur sem. Phasellus ut sapien ut urna posuere suscipit eget sed massa. Phasellus hendrerit
            augue arcu, id lacinia ipsum fringilla id. Ut dapibus luctus convallis. Vestibulum ante ipsum primis in
            faucibus
            orci luctus et ultrices posuere cubilia Curae; Donec et faucibus ligula, in tempor dolor. Vestibulum
            vehicula
            elit quis imperdiet accumsan. Aenean blandit consequat aliquam. Nulla ut ultrices neque, at imperdiet erat.
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nulla felis, posuere at ipsum a, ultrices
        euismod augue. Donec interdum, leo at facilisis rutrum, est augue fringilla sapien, eu facilisis ligula leo quis
        neque. Proin mi lectus, vestibulum sit amet elementum at, faucibus a nunc. Curabitur interdum efficitur felis,
        quis sollicitudin dui. Etiam tortor magna, convallis vitae scelerisque et, ultricies nec orci. Quisque
        consectetur hendrerit elementum. Nullam quis mattis augue.

        In pellentesque justo pellentesque neque blandit pharetra et nec tortor. Aliquam erat volutpat. Pellentesque
        quam enim, aliquam nec lorem vel, sollicitudin ullamcorper elit. Quisque sem mauris, lacinia sit amet purus nec,
        vestibulum consectetur sem. Phasellus ut sapien ut urna posuere suscipit eget sed massa. Phasellus hendrerit
        augue arcu, id lacinia ipsum fringilla id. Ut dapibus luctus convallis. Vestibulum ante ipsum primis in faucibus
        orci luctus et ultrices posuere cubilia Curae; Donec et faucibus ligula, in tempor dolor. Vestibulum vehicula
        elit quis imperdiet accumsan. Aenean blandit consequat aliquam. Nulla ut ultrices neque, at imperdiet erat.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nulla felis, posuere at ipsum a, ultrices
        euismod augue. Donec interdum, leo at facilisis rutrum, est augue fringilla sapien, eu facilisis ligula leo quis
        neque. Proin mi lectus, vestibulum sit amet elementum at, faucibus a nunc. Curabitur interdum efficitur felis,
        quis sollicitudin dui. Etiam tortor magna, convallis vitae scelerisque et, ultricies nec orci. Quisque
        consectetur hendrerit elementum. Nullam quis mattis augue.

        In pellentesque justo pellentesque neque blandit pharetra et nec tortor. Aliquam erat volutpat. Pellentesque
        quam enim, aliquam nec lorem vel, sollicitudin ullamcorper elit. Quisque sem mauris, lacinia sit amet purus nec,
        vestibulum consectetur sem. Phasellus ut sapien ut urna posuere suscipit eget sed massa. Phasellus hendrerit
        augue arcu, id lacinia ipsum fringilla id. Ut dapibus luctus convallis. Vestibulum ante ipsum primis in faucibus
        orci luctus et ultrices posuere cubilia Curae; Donec et faucibus ligula, in tempor dolor. Vestibulum vehicula
        elit quis imperdiet accumsan. Aenean blandit consequat aliquam. Nulla ut ultrices neque, at imperdiet erat.
    </div>
    <div class="col-md-6">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nulla felis, posuere at ipsum a, ultrices
        euismod augue. Donec interdum, leo at facilisis rutrum, est augue fringilla sapien, eu facilisis ligula leo quis
        neque. Proin mi lectus, vestibulum sit amet elementum at, faucibus a nunc. Curabitur interdum efficitur felis,
        quis sollicitudin dui. Etiam tortor magna, convallis vitae scelerisque et, ultricies nec orci. Quisque
        consectetur hendrerit elementum. Nullam quis mattis augue.

        In pellentesque justo pellentesque neque blandit pharetra et nec tortor. Aliquam erat volutpat. Pellentesque
        quam enim, aliquam nec lorem vel, sollicitudin ullamcorper elit. Quisque sem mauris, lacinia sit amet purus nec,
        vestibulum consectetur sem. Phasellus ut sapien ut urna posuere suscipit eget sed massa. Phasellus hendrerit
        augue arcu, id lacinia ipsum fringilla id. Ut dapibus luctus convallis. Vestibulum ante ipsum primis in faucibus
        orci luctus et ultrices posuere cubilia Curae; Donec et faucibus ligula, in tempor dolor. Vestibulum vehicula
        elit quis imperdiet accumsan. Aenean blandit consequat aliquam. Nulla ut ultrices neque, at imperdiet erat.
    </div>
</div>