<div class="sidebar">
    {% include 'BlogBundle:sidebar:blog-info.html.twig' %}
    {% include 'BlogBundle:sidebar:categories.html.twig' %}
    {% include 'BlogBundle:sidebar:subscribers.html.twig' %}
    {% include 'BlogBundle:sidebar:social_media.html.twig' %}
</div>